body{
  font-family: 'Josefin Slab', serif;
  background-color: #FEF9E7;
  font-size: 16px;
}

h1{
  font-weight: 400;
  font-size: 48px;
}

.nav{
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 20px;
}

.btn{
  font-family: 'Amatic SC', cursive;  
  font-weight: 700;
  font-size: 20px;  
}

.color_block{
  background-color: #FFB03B;
  min-height: 100px;
  margin-bottom: 50px;
}

.page_margin{
  margin-right: 35px;
  margin-left: 35px;
}

.navbar.navbar-default{
  margin-top: 20px;
  background-color: #FFB03B;
  border: none;
}

.navbar-brand{
  padding-top: 5px;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > .active > a {
  font-weight: 600;
  background-color: #FFB03B;
  border-radius: 3px;
}

.navbar-default .navbar-nav > .active > a:hover {
  background-color: #98DBC5;
  border-radius: 3px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: #FFBF5F;
  border-radius: 3px;
  color: white;
}

.navbar-default .navbar-nav > li > a:hover.btn-primary {
  background-color: #286090;
}

.navbar-default .navbar-nav > li > a:hover.btn-danger{
  background-color: #c9302c;
}

.navbar-default .navbar-nav > li > a:hover.btn-info{
  background-color: #31b0d5;
}

.navbar-nav > li > a {
  margin-top: 8px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.form-inline .form-control.tweet_ctrl {
  min-width: 400px;
  text-align: center;
  padding: 32px;
}

.btn-space-left{
  margin-left: 6px;
}

.big-hotdog{
  max-width: 250px;
  height: auto;
}

.small-hotdog{
  width: 55px;
  height: auto;
}

.btn-xl{
  padding: 10px 16px;
  min-width: 120px;
  font-size: 24px;
  margin-top: 12px;
}

label.col-sm-3.control-label{
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}

.form-control{
  font-size: 16px;
}


div.box_coord{
  background-color: white;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-color: #DAD2B3;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  float: right;
}

.junk_box1{
  width: 225px;
  margin: 10px 10px;
}

.junk_box2{
  margin: 20px 10px;
  width: 275px;
}

.junk_box3{
  margin: 15px 10px;
  width: 325px;
}

.show_box{
  text-align: left;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #DAD2B3;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  width: 275px;
  margin: 0 auto;
}

.junk_tag > span > a{
  word-wrap:break-word;
}

.junk_notes{
  margin: 12px;
}

.junk_tag{
  margin: 12px;
}

.junk_foot{
  padding: 2px 12px;
  background-color: #DAD2B3;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 18px;
  text-align: right;
}

.junk_name{
  margin: 12px 12px 0px;  
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 24px;
}

div.junk_image > img{
  width: 273px;
  height: auto;
}


.junk_wrap {
  justify-content: space-around;
  flex-wrap: wrap;
  display: flex;
}

.junk_box_nice{
  margin-top: 24px;
  margin-bottom: 24px;
  width: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

span.tag{
  display: inline;
  padding: 5px;
  font-size: 75%;
  font-weight: 700;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 2px;
}

.tag-1 {
    background-color: #e57373;
}

.tag-2 {
    background-color: #BA68C8;
}

.tag-3 {
    background-color: #64B5F6;
}

.tag-4 {
    background-color: #4DD0E1;
}

.tag-5 {
    background-color: #4DB6AC;
}

.tag-6 {
    background-color: #AED581;
}

.tag-7 {
    background-color: #FFB74D;
}

.show_box_del{
  color: #d9534f;
  background-color: #DAD2B3;
  border: none;
}

.show_box_del:hover{
  color: #c9302c;
  text-decoration: underline;
}

a.undercover_blk{
  color: black;
}

a.undercover_wht{
  color: white;
}

.form_inline{
  display: inline;
}

.junk_input::-webkit-file-upload-button {
  visibility: hidden;
}

.junk_input::before {
  content: 'Select Image';
  display: inline-block;
  background: #ECEFF1;
  border: 1px solid #CFD8DC;
  border-radius: 3px;
  padding: 8px 7px 7px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 20px;
}

.junk_input:hover::before {
  background: #CFD8DC;
}

.junk_input:active::before {
  background: #ECEFF1;
}

.junk_username{
  font-family: 'Amatic SC', cursive;
  font-weight: 700; 
}