<div class="text-center">
  
  <% if @junk.count == 0 %>
    <h1>We're all out of Junk!</h1>
  
  <% else %>
    <h1>Check out all the Junk!</h1>
  
  <% end %>


  <% 5.times do %>
  <div class="junk_row">
    <div class="junk_box<%= [1,2,3].sample %> box_coord">
    </div>
    <div class="junk_box<%= [1,2,3].sample %> box_coord">
    </div>
    <div class="junk_box<%= [1,2,3].sample %> box_coord">
    </div>
  </div>
  <% end %>

</div>