<div class="text-center">

<h1>Create some new junk:</h1><br>
  
  <form action="/junk" method="post" class="form-inline">
  
      <input class="junk[title]" type="text" name="content" 
        placeholder="Title"><br><br>
      
      <input class="junk[image]" type="text" name="content" 
        placeholder="Image URL"><br><br>
      
      <input class="junk[URL]" type="text" name="content" 
        placeholder="URL"><br><br>
      
      <input class="junk[note]" type="text" name="content" 
        placeholder="Note"><br><br>
     
    <input class="btn btn-primary btn-lrg" id="submit" 
      type="submit" value="Create">
  
  </form>

</div>
